<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/common}">

<head>
    <title>编辑设备信息</title>
</head>

<body layout:fragment="content">
<article class="page-container">
    <form action="" method="" class="form form-horizontal" id="form-device-view" th:object="${model}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input type="radio" id="category-1" checked="checked" th:name="status" th:value="-1"/>
                    <label for="category-1">故障</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="category-2" th:name="status" th:value="0"/>
                    <label for="category-2">维修</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="category-2" th:name="status" th:value="1"/>
                    <label for="category-2">闲置</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="category-2" th:name="status" th:value="2"/>
                    <label for="category-2">运行</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>状态详细记录：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="statusDetail" name="statusDetail"
                       th:name="statusDetail"
                       th:value="*{statusDetail}"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>是否完成检修：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="isOverhaul" name="isOverhaul"
                       th:name="isOverhaul"
                       th:value="*{isOverhaul}"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>上次检修时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="lastOverhaulTime"
                       name="lastOverhaulTime"
                       th:name="lastOverhaulTime"
                       th:value="*{#dates.format(lastOverhaulTime, 'yyyy-MM-dd HH:mm:ss')}"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>负责人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="serviceman" name="serviceman"
                       th:name="serviceman"
                       th:value="*{serviceman}"/>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" id="" name="">
                    <i class="icon-ok"></i> 确定
                </button>
            </div>
        </div>
    </form>
</article>
<script th:inline="javascript">
    $(function () {
        $("#form-device-view").validate({
            submitHandler: function (form) {
                parent.layer.close(index);
            }
        });
    });
</script>
</body>

</html>