<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/common}">

<head>
    <title></title>
</head>

<body layout:fragment="content">

<article class="page-container">
    <input type="hidden" th:value="${productlineName}" id="productlineName"/>
    <input type="hidden" th:value="${type}" id="type"/>
    <div id="psLine" style="height:400px;"></div>
</article>

<script type="text/javascript" th:src="@{/js/lib/echarts.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/productline/productline-status-view.js}"></script>
<script th:inline="javascript">

</script>
</body>

</html>