<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/common}">

<head>
    <title>生产线状态详情</title>
</head>

<body layout:fragment="content">
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页
    <span class="c-gray en">&gt;</span>
    生产监控
    <span class="c-gray en">&gt;</span>
    生产线状态
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);"
       title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<form id="myForm" th:action="@{/admin/productline/status}" th:method="get">
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l" style="margin: 0 5px 0 0;">
                    <a href="javascript:" onclick=""
                       th:onclick="'javascript:productline_set(\'设置生产参数\',\'/admin/productline/set\',\'800\',\'500\');'"
                       class="btn btn-primary radius">
                        <i class="Hui-iconfont">&#xe6c6;</i> 设置生产参数</a>
                </span>
        </div>
        <table class="table table-border table-bordered table-bg table-hover">
            <thead>
            <tr>
                <th scope="col" colspan="12">生产线列表</th>
            </tr>
            <tr class="text-c">
                <th>序号</th>
                <th>生产线名称</th>
                <th>客户端连接状态</th>
                <th>生产线运行状态</th>
                <th>熔窑压力</th>
                <th>熔窑温度</th>
                <th>熔窑液面高度</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" th:each="model:${list}" th:object="${model}">
                <td th:text="${modelStat.count}">1</td>
                <td th:text="*{productlineName}">生产线1</td>
                <td class="td-status">
                    <span class="label radius label-success" th:if="*{isClientConnect} == true">正常</span>
                    <span class="label radius label-danger" th:unless="*{isClientConnect} == true">异常</span>
                </td>
                <td class="td-status">
                    <span class="label radius label-success" th:if="*{isProductlineRun} == true">正常</span>
                    <span class="label radius label-danger" th:unless="*{isProductlineRun} == true">异常</span>
                </td>
                <td class="td-view">
                    <a title="压力" href="javascript:" onclick="system_log_show(this,'10001')"
                       th:onclick="'javascript:status_view(\''+*{productlineName}+'运行状态详情\', \'/admin/productline/status/'+*{productlineName}+'?type=press'+'\',\'800\',\'500\');'"
                       class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe725;</i>
                    </a>
                </td>
                <td class="td-view">
                    <a title="温度" href="javascript:" onclick="system_log_show(this,'10001')"
                       th:onclick="'javascript:status_view(\''+*{productlineName}+'运行状态详情\', \'/admin/productline/status/'+*{productlineName}+'?type=temp'+'\',\'800\',\'500\');'"
                       class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe725;</i>
                    </a>
                </td>
                <td class="td-view">
                    <a title="液面高度" href="javascript:" onclick="system_log_show(this,'10001')"
                       th:onclick="'javascript:status_view(\''+*{productlineName}+'运行状态详情\', \'/admin/productline/status/'+*{productlineName}+'?type=height'+'\',\'800\',\'500\');'"
                       class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe725;</i>
                    </a>
                </td>
                <td th:text="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm:ss')}">2014-6-11 11:11:42</td>
            </tr>
            </tbody>
        </table>
        <div th:replace="admin/common/page :: page"></div>
    </div>
</form>

<script type="text/javascript" th:src="@{/js/common/page.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/productline/productline-status.js}"></script>
<script th:inline="javascript">

</script>
</body>

</html>