<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/common/common}">

<head>
	<title>添加产品信息</title>
</head>

<body layout:fragment="content">
	<article class="page-container">
		<form action="" method="post" class="form form-horizontal" id="form-inventory-product-add">
			<input type="hidden" name="tokenForm" th:value="${#session.getAttribute('tokenForm')}" />
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>产品名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="name" name="name" th:name="name" th:value="*{name}" />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>产品类别：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="type" name="type" th:name="type" th:value="*{type}" />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>产品价格：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="price" name="price" th:name="price" th:value="*{price}"
					/>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>产品库存：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="inventory" name="inventory" th:name="inventory" th:value="*{inventory}"
					/>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red"></span>产品工艺路线：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="routing" name="routing" th:name="routing" th:value="*{routing}"
					/>
				</div>
			</div>

			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<button type="submit" class="btn btn-success radius" id="admin-role-save">
						<i class="icon-ok"></i> 确定</button>
				</div>
			</div>
		</form>
	</article>

	<script type="text/javascript" th:src="@{/js/admin/inventory/inventory-product-add.js}"></script>
</body>

</html>