<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/common/common}">

<head>
    <title>产品订购</title>
</head>

<body layout:fragment="content">
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i>
        首页
        <span class="c-gray en">&gt;</span>
        订单管理
        <span class="c-gray en">&gt;</span>
        产品订购
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <form id="myForm" th:action="@{/admin/order/list}" th:method="get">
        <div class="page-container">
            <div class="text-c">
                <input type="text" class="input-text" style="width:250px" placeholder="输入产品名称" name="productName" th:value="${productName}"
                />
                <button type="submit" class="btn btn-success">
                    <i class="Hui-iconfont">&#xe665;</i>
                    搜索
                </button>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    <a href="javascript:;" th:onclick="'javascript:product_add(\'添加产品信息\',\'/admin/order/product/add\',\'800\',\'500\');'" class="btn btn-primary radius">
                        <i class="Hui-iconfont">&#xe600;</i> 添加产品信息</a>
                </span>
            </div>
            <table class="table table-border table-bordered table-bg table-hover">
                <thead>
                    <tr>
                        <th scope="col" colspan="12">历史数据列表</th>
                    </tr>
                    <tr class="text-c">
                        <th width="25">
                            <input type="checkbox" name="" value="" />
                        </th>
                        <th>序号</th>
                        <th>生产线名称</th>
                        <th>工作部温度</th>
                        <th>熔化部温度</th>
                        <th>窑压</th>
                        <th>液面高度</th>
                        <th>温度允许误差</th>
                        <th>压力允许误差</th>
                        <th>高度允许误差</th>
                        <th>记录时间</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-c" th:each="model:${pageInfo?.list}" th:object="${model}">
                        <td>
                            <input type="checkbox" th:value="*{id}" id="" />
                        </td>
                        <td th:text="${((pageInfo?.pageNum - 1) * pageInfo?.pageSize) + modelStat.count}">d</td>
                        <td th:text="*{productlineName}">2</td>
                        <td th:text="*{workTemp}">3</td>
                        <td th:text="*{meltTemp}"></td>
                        <td th:text="*{pressure}"></td>
                        <td th:text="*{liquidLevel}"></td>
                        <td th:text="*{tempDeviation}"></td>
                        <td th:text="*{pressureDeviation}"></td>
                        <td th:text="*{heightDeviation}"></td>
                        <td th:text="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm:ss')}">2014-6-11 11:11:42</td>
                        <td class="td-manage">
                            <a title="详情" href="javascript:;" onclick="system_log_show(this,'10001')" th:onclick="'javascript:history_view(\'查看生产线历史数据详情\', \'/admin/productline/history/'+*{id}+'\',\'800\',\'500\');'"
                                class="ml-5" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe665;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" th:onclick="'javascript:history_del(this, \'/admin/productline/history/'+*{id}+'\');'"
                                class="ml-5" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6e2;</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:replace="admin/common/page :: page"></div>
        </div>
    </form>

    <script type="text/javascript" th:src="@{/js/common/page.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/productline/productline-history.js}"></script>
    <script th:inline="javascript">

    </script>
</body>

</html>